@charset "ISO-8859-1";

html, body {
	height: 100%;
}

/* body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
} */
 
 body {
  background-image: url(https://www.petexperience.com.br/source/files/c/11573/BG_base_0003-215854_1920-1080-0-0.jpg); 
  background-size:1366px 768px;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: cursive;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 80%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td ,tr{
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	color: black;
	text-align: center;
}


#button{
	position: absolute;
     bottom: 10%;
    right: 50%;
}
.back{
	position: absolute;
     top:5%;
    right: 5%;
	
}
label{
	font-family: cursive;
}
