@charset "ISO-8859-1";

html, body {
	height: 80%;
}

 body {
  background-image: url(https://www.petexperience.com.br/source/files/c/11573/BG_base_0003-215854_1920-1080-0-0.jpg); 
  background-size:1366px 768px;
  background-attachment: fixed; 
  text-align: center;
  font-family: cursive;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  top: 50%;
	left: 50%;
	padding: 10px;
	margin-left:80px;
	margin-right:80px;
	margin-top: 80px;
	margin-bottom: 80px;
}
.grid-item td {
	height : 10px;
}

.container {
	top: 50%;
	left: 50%;
	margin-left:80px;
	margin-right:80px;
	margin-top: 80px;
	margin-bottom: 80px;
}

table{
	width:100%;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th{
	width:auto;
	height: auto;
}

td ,tr{
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	color: black;
	text-align: center;
}


#button{
	position: absolute;
     bottom: 10%;
    right: 50%;
}
.back{
	font-size:10px;
width:5%;
position: absolute;
     top:5%;
    left: 5%;
}
.logout{
	
	font-size:10px;
width:5%;
position: absolute;
     top:5%;
    right: 5%;

}
.add {
	font-size: 15px;
	width: 6%;
	height:3%;
	left: 50%;
}
label{
	font-family: cursive;
}


